.fok-form-input-set {
  display: flex;
  flex-wrap: wrap;
  margin-right: -20px;

  .fok-form-item {
    display: flex;
    margin: 6px 0;

    &.fok-form-item-vertical {
      flex-direction: column;
      margin: 2px 0;

      .fok-form-item-label {
        text-align: left;
        width: 100%;
        padding: 2px 0;
      }
    }

    .fok-form-item-label {
      width: 180px;
      text-align: right;
      padding: 5px;

      .fok-form-item-required {
        color: orangered;
      }

      .fok-form-item-tooltip {
        padding: 0 2px;
        color: forestgreen;
      }
    }

    .fok-form-item-control-errors-wrapper {
      flex-grow: 1;
      text-align: left;

      .fok-form-item-errors {
        color: red;
      }

    }
  }

  .fok-form-item-combination {
    width: 100%;
    margin-right: 20px;
    padding-bottom: 10px;
  }

  .fok-form-item-array {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4px;
    border: 1px dashed rgb(217,217,217);

    .fok-form-item-array-item-remove {
      display: none;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(50%, -50%) scale(1.2);
      color: #ec5f5f;
    }
    &:hover .fok-form-item-array-item-remove {
      display: inline-block;
    }
  }
}

.fok-content-box {
  &.fok-content-box-collapsed {
    .fok-content-box-content {
      display: none;
    }
  }

  .ant-card-head {
    min-height: 0;
    text-align: left;
  }
  .ant-card-head-title, .ant-card-extra {
    padding: 6px 0;
  }
}